$color-pink: #ffc0cb;
$color-red: #ff0000;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #808080;
$color-darkgray: #444444;
$color-lightblue: #dce5ff;

$mobile: 767px;
$tablet: 1199px;
$desktop: 1499px;

@import './_mixins';