<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span routerLink="" role="cursor"><strong>My App</strong></span>
        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem" routerLink="/home"
                    routerLinkActive="active">
                    Home
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/about"
                    routerLinkActive="active">
                    About
                </mat-list-item>
                <mat-list-item role="listitem">
                    Products
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/contact"
                    routerLinkActive="active">
                    Contact
                </mat-list-item>
                <a mat-flat-button color="accent" (click)="openDialog()"
                    [ngStyle]="{'min-width':
                    'auto'}" *ngIf="!isAuthenticated">
                    Login/Register
                </a>
                <a mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated" [ngStyle]="{'color':
                '#fff'}">
                    <mat-icon>account_circle</mat-icon>
                </a>
                <mat-menu #menu="matMenu" class="mat-menu">
                    <button mat-menu-item routerLink="/profile" routerLinkActive="active">
                        <mat-icon>person</mat-icon>
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </mat-list>
        </mat-card>
    </mat-toolbar-row>
</mat-toolbar>